<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div style="text-align:center">
    <button (click)="click()">
      Popolazione Degli USA
    </button>
    <hr>
    <ul>
      <li *ngFor="let y of years">
        {{y.anno}}: {{y.popu}}
      </li>
    </ul>
  </div> 
  <hr>
  <h1>
    PRODOTTO DA:
  </h1> 
  <ul>
    <li>
      Lorenzo Rossini
    </li>
    <li>
      Andrea Stucchi
    </li>
  </ul>
</body>
</html>


