button {
    background-color: red;
    color:black;
    font-size:40px;
    
    


}

button:hover{
    background-color: green;
    border-radius: 15px;
}

li {
    font-size:20px;
    width:fit-content;
    margin:auto;
    color:red;
    background-color:black;
    border-radius: 5px;
    
}

body {
    background-color:blue;
}

h1 {
    background-color: black;
    color:red;
    text-align: center;
    text-decoration:underline overline;
    border-radius: 15px;
}
